@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
     font-family: 'marquee';
     src: url('/fonts/marquee\ moon.ttf');
}

@font-face {
     font-family: 'smile';
     src: url('/fonts/Smile\ Candy.ttf');
}

@layer base {

     :root {
          --navigation-height: 6rem;
     }

     html {
          @apply text-text-light bg-background;
          font-size: 62.5%;
          line-height: 1.2;
     }

     body {
          @apply text-md
     }


}

@layer utilities {
     .logo-shadow {
          text-shadow: 0 0 4px #4700d8, 0 0 11px #4700d8, 0 0 19px #4700d8, 0 0 40px #4700d8, 0 0 80px #4700d8,
               0 0 90px #4700d8, 0 0 100px #4700d8, 0 0 150px #4700d8;
     }

     .logo-shadow2 {
          text-shadow: 0 0 4px #4d77ff, 0 0 11px #4d77ff, 0 0 19px #4d77ff, 0 0 40px #4d77ff, 0 0 80px #4d77ff,
               0 0 90px #4d77ff, 0 0 100px #4d77ff, 0 0 150px #4d77ff;
     }

     .box-blur {
          backdrop-filter: blur(0.9rem);
     }

     .lock-scroll {
          overflow: hidden;
     }

     *::-webkit-scrollbar {
          width: 8px;
          /* height: 20px; */
     }

     *::-webkit-scrollbar-track {
          /* border-radius: 100vh; */
          background: hsla(233, 53%, 6%, 1);
     }

     *::-webkit-scrollbar-thumb {
          background: hsla(233, 36%, 8%, 1);
          border-radius: 100vh;
     }

     *::-webkit-scrollbar-thumb:hover {
          background: hsla(233, 27%, 12%, 1);
     }
}